  <h1>Roll different dices!</h1>
  <ul>
  <li><a href="/dice/2/6">Roll 2 dice with 6 sides.</a></li>
  <li><a href="/dice/2/10">Roll 2 dice with 10 sides.</a></li>
  <li><a href="/dice/5/4">Roll 5 dice with 4 sides.</a></li>
  <li><a href="/dice/1/20">Roll 1 dice with 20 sides.</a></li>
  </ul>
